<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  
  
<!--Common.DLL-->
    <add key="pyScriptSentenceParser" value="\PythonScripts\SentenceParser.py"/>
    <add key="pyScriptTokenizer" value="\PythonScripts\Tokenizer.py"/>
    <add key="pyScriptPOSTagger" value="\PythonScripts\POSTagger.py"/>
    
    <add key="pyScriptArgSourceLocation" value="\TextSource"/>
    <add key="pyScriptArgTempSentence" value="\TempSentence"/>
    <add key="pyScriptArgTempToken" value="\TempToken"/>
    <add key="pyScriptArgTempPOSTag" value="\TempPOSTag"/>
    
    
    
<!--Common.DLL-->    
    
    
<!--PreProcessing.DLL-->
    <add key="InitialDirectory" value="D:\FYP 1 Educator\Sample Text\"/>
<!--PreProcessing.DLL-->
  


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>